<%- include('parts/header') %>
  <div class="col-xs-9">
    <div class="well" style="padding: 0 50px">
	  <p><%= toptxt %> Bots are listed first, then announcement channels.</p>
      <h3>Bots</h3>
      <ul class="list-group list-group-flush">
        <% bots.forEach(function(bot) { %>
          <li class="list-group-item"><a target="blank" href="https://t.me/<%- bot.USERNAME.substring(1) %>"><%= bot.NAME %></a></li>
        <% }); %>
      </ul>
      <h3>Announcement Channels</h3>
      <ul class="list-group list-group-flush">
        <% channels.forEach(function(chan) { %>
          <li class="list-group-item"><a target="blank" href="https://<%- chan.LINK %>"><%= chan.NAME %></a></li>
        <% }); %>
      </ul>
    </div>
    </div>

<%- include('parts/footer') %>
